* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	background: no-repeat url("../img/bg.jpg");
	background-size: cover;

	/* color:#212830; */
	color:#333;
}

u {
	margin: 0 .2vw;
	font-size: inherit;
}

.login-form {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 2vw 3vw;
}

.form {
	display:flex;
	flex-direction: column;
}

.logo {
	margin-bottom: 2vw;
}

.text-input {
	border: 1px solid #7a7e83;
	border-radius: 0.5rem;
	width: 21vw;
	padding: .5rem;
}

.text-input:hover {
	border: 1px solid #212830;
}

.text-input:focus {
	border: 1px solid transparent;
	outline: 2px solid #005de0;
}

#lastname, #password {
	margin-bottom: 1vw;
}

.reg-link {
	color: #0d6efd;
	text-decoration: none;
}

.reg-link:hover {
	color: #0a58ca;
}

.attention {
	text-decoration: none;
	color:#333;
	margin: 1.5vw 0;
}

.l-label, .l-label > * {
	margin: .5vw 0;
	font-size: .85rem;
	font-weight: 500;
	color:#7a7e83;
}

#login {
	padding: .5vw 0;
	margin: 1vw 0;
	border: none;
	border-radius: .5rem;
	cursor: pointer;

	color: #fff;
	background: #212830;
	transition: .3s ease-in-out;
}

#ask-reset {
	transition: .3s ease-in-out;
}

#ask-reset:hover {
	color:#005de0;
}

#remember-me {
	margin-right: .4vw;
}

.remember {
	display: flex;
	justify-content: space-between;
}

.split-line {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.split-line::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
	background: #7a7e83;
	opacity: .4;
	margin: 0 .5vw;
	right: 2vw;
}

.split-line::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
	background: #7a7e83;
	opacity: .4;
	margin: 0 .5vw;
	left: 2vw;
}

#yandex-btn, #mail-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5vw 0;
	margin: 0.3vw 0;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	overflow: hidden;
	height: 2.5vw;

	color: #7a7e83;
	background: rgba(180,184,204,0.2);
	transition: .3s ease-in-out;
}

#yandex-btn {
	margin-top: 1vw;
}

.bi {
	font-size: 1.8rem;
	margin-right: .5vw;
}

.back-link {
	display: flex;
	align-items: center;
}

.account-type {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	border-radius: .5rem;
	margin-bottom: .5vw;
	border: 1px solid #7a7e83;
}

.type-left, .type-right {
	font-size: .85rem;
	display: flex;
	justify-content: center;
	padding: .5vw 0;
	width: 10.5vw;
}

.type-left.active, .type-right.active {
	background: #212830;
	color:#fff;
}
