.layout-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 9.5vw;
}

.layout-footer {
	padding: 1vw 0;
}

.demo-heading {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 2.5vw !important;
	margin-bottom: 1vw !important;
}

.converter-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}

#from, #to {
	width: 38vw;
	min-height: 25vw;
	overflow: hidden;

	border-radius: 16px;
	border-bottom-right-radius: 0 !important;
	border: 1px solid #d3d4d6;	
}

.convert-button {
	border: none;
	background: #373e45;
	color: #fff;

	padding: 1vw;
 	margin: 2vw 0;
	border-radius: 1rem;

	transition: .3s ease-in-out;
}

.convert-button:hover {
	background: #005de0;
}

.drag-n-drop {
	border: 2px dotted #d3d4d6;
	padding: 1vw;
	width: 25vw;
	border-radius: 12px;
}

.import-script {
	display: flex;
	margin: .5vw 0; 
}

.export-script {
	display: flex;
	justify-content: flex-end;
	margin: .5vw 0; 
}

.open-file, .save-file, .copy-btn {
	padding: 1vw .8vw;
	border-radius: 8px;
}

.CodeMirror {
	resize: vertical;
	min-height: 25vw;
}